body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
/* Box Plots */
.box {
  font: 10px sans-serif;
}

.box line,
.box rect.box,
.box circle {
  fill: red;
  stroke: #000;
  stroke-width: 1.5px;
}

.box rect.box-bg {
  fill: transparent;
}

.box text {
  z-index: 100;
}

.box .center {
  stroke-dasharray: 3,3;
}

.box .outlier {
  fill: none;
  stroke: #ccc;
}

/* Figure Descriptions */
p.citation, p.figure_label {
  margin-left: 20px;
}

#options {
  margin-bottom: 20px;
  padding-left: 30px;
  float: left;
  display: block;
}

/* Toggle Switch */
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label[for="switch"] {
	cursor: pointer;
	width: 50px;
	height: 25px;
	background: #888888;
	border-radius: 25px;
	position: relative;
  display: inline;
  float: left;
}

label[for="switch"]:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 25px;
	transition: 0.3s;
}

input:checked + label[for="switch"] {
	background: #bada55;
}

input:checked + label[for="switch"]:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label[for="switch"]:active:after {
	width: 130px;
}

.toggle_label {
  float: left;
  margin-left: 5px;
  margin-top: 3px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* Range Slider */
input[type=range] {
    -webkit-appearance: none;
    width: 200px;
    height: 8px;
    border-radius: 4px;
    background: #d3d3d3;
    outline: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 10px;
    display: inline-block;
    float: left;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

#exposure-range-label {
  margin-top: 20px;
}

#exposure-range-value {
  margin-top: 4px;
  margin-left: 5px;
  display: inline-block;
  float: left;

}

.box-text {
  font-family: Verdana;
}

.sig-toggle {
  cursor: pointer;
}

.matrix-column-highlight {
  fill: red;
}

#dataset-form {
  padding-left: 10px;
}

#github_link {
  background-image: url('https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 50px;
  height: 50px;
  display: inline-block;
  float: right;
}